@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;600;700;900&display=swap');

:root {
  --ui-font-family: 'Zen Maru Gothic', sans-serif;

  --ui-font-size-caption: 0.75rem;
  --ui-line-height-caption: 1rem;
  --ui-letter-spacing-caption: 0.4px;
  --ui-font-size-footnote: 0.8125rem;
  --ui-line-height-footnote: 1.125rem;
  --ui-letter-spacing-footnote: 0.55px;
  --ui-font-size-body: 0.9375rem;
  --ui-line-height-body: 1.25rem;
  --ui-letter-spacing-body: 0.35px;
  --ui-font-size-headline: 1.0625rem;
  --ui-line-height-headline: 1.375rem;
  --ui-letter-spacing-headline: 0.5px;
  --ui-font-size-title: 1.25rem;
  --ui-line-height-title: 1.5rem;
  --ui-letter-spacing-title: 0.35px;
  --ui-font-size-large-title: 1.5rem;
  --ui-line-height-large-title: 1.5rem;
  --ui-letter-spacing-large-title: 0px;

  --ui-font-weight-light: 300;
  --ui-font-weight-regular: 400;
  --ui-font-weight-medium: 500;
  --ui-font-weight-semibold: 600;
  --ui-font-weight-bold: 700;
}
